@font-face {
    font-family: 'Gentleman300';
    src: url('../fonts/Gentleman-300-ExtraLight.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Gentleman-300-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Gentleman-300-ExtraLight.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Gentleman-300-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Gentleman-300-ExtraLight.svg#Gentleman300-ExtraLight') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Gentleman200';
    src: url('../fonts/Gentleman-200-Thin.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Gentleman-200-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Gentleman-200-Thin.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Gentleman-200-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Gentleman-200-Thin.svg#Gentleman200-Thin') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


@font-face {
    font-family: 'Gentleman400';
    src: url('../fonts/Gentleman-400-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Gentleman-400-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Gentleman-400-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Gentleman-400-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Gentleman-400-Light.svg#Gentleman400-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

.head{
    background: #45172E;
    color: white;
}
.wp-post-image{
    border-radius:100px;
}
.wrap {
    margin-top: 30px;
}
.imgcontainer{
    width: 120px;
    margin-left: 50px;
    margin-top: 26px;
}
.gourmet{
    margin-top:-19px;
    color: #a6adb0;
    font-family: Lora, serif;
    font-style: italic;
    font-size: 20px;
}

#head h1{
    font-family: "Gentleman400", sans-serif;
    font-size: 25px;
    color: #fff;
}
#head .gourmet{
}

p {
   color: #4c4c4c;
   font-family: "Roboto Slab", sans-serif;
   font-size: 18px;
   font-weight: 300;
   line-height: 1.5;
   margin-bottom: 7px;
   margin-left: 0px;
   margin-right: 0px;
   text-align: left;
   text-decoration: none;
   text-indent: 0px;
}
#disqus_thread{
        margin-top:90px;
}

.entry-title, h2 .entry-title a{
   color: #7d386b;
   font-family: Lora, serif;
   font-size: 25px;
   font-style: italic;
   line-height: 1.2;
   margin-bottom: 4px;
   margin-left: 0px;
   margin-right: 0px;
   text-align: left;
   text-decoration: none;
   text-indent: 0px;
}

#head .bio {
    color: #fff;
    font-family: "Gentleman400", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
}

#head nav h3, #head nav, #head nav p, #head nav span{
	font-family: "Gentleman400", sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color:#ffffff;
}

#head nav i{
   font-size:23px;
}

.iconbox{
	padding-left:8px;
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 100px;
    padding: 10px;
    color: #45172e;
    font-size: 20px;
	margin-left:auto;
 margin-right:auto;
    padding-top: 8px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #45172E;;
  margin-left:auto; margin-right:auto;
}


.category_small{
    float: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

footer.content-info{
    background-color:#25252D;;
    padding:20px;
    margin-top:30px;
    color:white;
}
.df_article:first-child{
        margin-top:4px;
}
.df_article{
        margin-top:30px;
}
.navigation{
        margin-top: 70px;
        text-align: center;
}
